<footer class="section footer-classic context-dark bg-image" style="background: #111;">
    <div class="container">
        <div class="row row-30">
            <div class="col-md-4 col-xl-5">
                <br>
                <div class="pr-xl-4"><a class="brand" href="index.htm"><img class="brand-logo-light" src="" alt=""
                            width="75" height="75"><i class="fa fa-calendar  fa-2x  " aria-hidden="true">Event Planning</i></a>
                    <br>
                    <br>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, perspiciatis.</p>

                    <p class="rights"><span>©  </span><span class="copyright-year">2018</span><span> </span><span>Events</span><span>. </span><span>All
                            Rights Reserved.</span></p>
                </div>
            </div>
            <div class="col-md-4">
                <br>
                <h5>Contacts</h5>
                <dl class="contact-list">
                    <dt>Address:</dt>
                    <dd>COMSATS Univeristy Islamabad, Lahore Campus</dd>
                </dl>
                <dl class="contact-list">
                    <dt>email:</dt>
                    <dd>
                        <div><i class="fa fa-envelope-o" aria-hidden="true"></i> : <a href="mailto:abc@xyz.com?subject=Event%20Contact%20Subject%20Subject">eventplanning@gmail.com</a></div>
                    </dd>
                </dl>
                <dl class="contact-list">
                    <dt>phones:</dt>
                    <dd>
                        <div><i class="fa fa-phone" aria-hidden="true"></i>:
                            <a href="tel:#">+92 7568543012</a> <span>or</span>
                            <a href="tel:#">+92 9571195353</a>
                        </div>
                    </dd>
                </dl>
            </div>
            <div class="col-md-4 col-xl-3">
                <br>
                <h5>Links</h5>
                <ul class="nav-list">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Vendors</a></li>
                    <li><a href="#">Categories</a></li>
                    <li><a href="#">Events</a></li>
                    <li><a href="#">NGOs</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row no-gutters social-container">
        <div class="col"><i class="fa fa-facebook" aria-hidden="true"></i><a class="social-inner" href="#">Facebook</a></div>
        <div class="col"><i class="fa fa-instagram" aria-hidden="true"></i><a class="social-inner" href="#">Instagram</a></div>
        <div class="col"><i class="fa fa-twitter" aria-hidden="true"></i><a class="social-inner" href="#">Twitter</a></div>
        <div class="col"><i class="fa fa-google" aria-hidden="true"></i><a class="social-inner" href="#">Google</a></div>
    </div>
</footer>