<br>
<div class="container-fluid reduce">
        <div class="row">
            <div class="col-md-3 ">
    
            </div>
    
            <div class="col-md-6 ">
                <h3 ><span class="center">Create your Free Account</span></h3>
            <form action="" method="POST" class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-sm-3" for="name">First Name:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="email" placeholder="Enter First Name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="name">Last Name:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="email" placeholder="Enter Last Name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="name">User Name:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="email" placeholder="Enter username">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="name">Email:</label>
                    <div class="col-sm-9">
                        <input type="email" class="form-control" id="email" placeholder="Enter email">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="name">Contact No:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="email" placeholder="Enter Contact No">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="name">Password:</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="email" placeholder="Enter password">
                    </div>
                </div>
                <div class="col-sm-3">
                    <a href=""><input type="submit" class="btn btn-outline-success my-2 my-sm-0" value="Submit" name="submit"></input></a>
                </div>
            </form>
        </div>
            <div class="com-md-3">
    
            </div>
        </div>
    </div>
    <br>