<div class="row mar">
    <div class="col-xl-1">
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <nav class="navbar navbar-inverse">
                    <ul>
                            <li><a href="customerprofile.php">Profile</a></li>
                            <li>
                                <a href="#" class="navbar-toggle btn-sidebar" data-toggle="collapse" data-target="#myNavbar">Events</a>
                                <div class="collapse navbar-collapse row" id="myNavbar">
                                    <ul class="nav navbar-nav">
                                        <div class="offset-sm-3 col-sm-12">
                                            <li><a href="custevents.php">My Events</a></li>
                                            <li><a href="custcreatevent.php">Add Event</a></li>
                                        </div>
                                    </ul>
                                </div>
                            </li>
                           <!-- <li><a href="#">Services</a>
                            </li>-->
        
                            <li><a href="" class="navbar-toggle btn-sidebar" data-toggle="collapse" data-target="#myNavbar2">Guest
                                    List
                                    Manager</a>
                                <div class="row collapse navbar-collapse" id="myNavbar2">
                                    <ul class="nav navbar-nav">
                                        <div class="offset-sm-3 col-sm-12">
                                            <li><a href="CustViewGuest.php">My Guests</a></li>
                                            <li><a href="CustAddGuest.php">Add Guest</a></li>
                                        </div>
                                    </ul>
                                </div>
                            </li>
                           <!-- 
                            <li><a href="#">Card Customization</a></li>
                            <li><a href="#">Messages</a></li>
                            -->
                        </ul>
            </nav>
        </div>
    </div>
    <div class="col-xl-10">
        <div id="main" class="mar">
            <span style="font-size:25px;cursor:pointer" onclick="openNav()">&#9776; Dashboard</span>
            <br>
            <br>
            <div class="addGuest">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-2">

                        </div>
                        <div class="col-sm-4">
                            <img src="images/avatar.jpg" class="img-fluid rounded-circle" alt="No Image">
                        </div>
                        <div class="col-sm-4">
                            <br>
                            <br>
                            <h3>Customer Name</h3>
                            <br>
                            <h4>UserName</h4>
                        </div>
                        <div class="col-sm-2">

                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-2">

                        </div>
                        <div class="col-md-8">
                            <h6>Services</h6>
                            <hr>
                            <br>
                            <form>
                                <div class="form-group row">
                                    <label for="Events" class="col-sm-4 col-form-label">Filter Guests</label>
                                    <div class="col-sm-8">
                                        <select class="custom-select" name="event" id="event">
                                            <option selected>Not Invited</option>
                                            <option value="">Invited</option>
                                            <option value="">Coming</option>
                                            <option value="">Not Coming</option>
                                        </select>
                                    </div>

                                </div>
                                <div class="form-group row">
                                    <label for="Events" class="col-sm-4 col-form-label">Select Event</label>
                                    <div class="col-sm-8">
                                        <select class="custom-select" name="event" id="event">
                                            <option selected>One</option>
                                            <option value="">Two</option>
                                            <option value="">Three</option>
                                            <option value="">Four</option>
                                        </select>
                                    </div>

                                </div>

                            </form>
                            <hr>
                            <div class="card bg-link">
                                <img class="card-img-top" src="holder.js/100px180/" alt="">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-10">
                                            <h5 class="card-title">Guest Name</h5>
                                            <p>Contact No</p>
                                            
                                            <p>Email</p>
                                            
                                            <p>Address</p>
                                        </div>
                                        <div class="col-lg-2">
                                            <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Invite</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="card bg-link">
                                <img class="card-img-top" src="holder.js/100px180/" alt="">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-10">
                                            <h5 class="card-title">Guest Name</h5>
                                            <p>Contact No</p>
                                        
                                            <p>Email</p>
                                            
                                            <p>Address</p>
                                        </div>
                                        <div class="col-lg-2">
                                            <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Invite</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="card bg-link">
                                <img class="card-img-top" src="holder.js/100px180/" alt="">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-10">
                                            <h5 class="card-title">Guest Name</h5>
                                            <p>Contact No</p>
                                            
                                            <p>Email</p>
                                            
                                            <p>Address</p>
                                        </div>
                                        <div class="col-lg-2">
                                            <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Invite</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="card bg-link">
                                <img class="card-img-top" src="holder.js/100px180/" alt="">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-10">
                                            <h5 class="card-title">Guest Name</h5>
                                            <p>Contact No</p>
                                            
                                            <p>Email</p>
                                            
                                            <p>Address</p>
                                        </div>
                                        <div class="col-lg-2">
                                            <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Invite</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">

                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-1">

    </div>
</div>

<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "300px";
        document.getElementById("main").style.marginLeft = "200px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
    }
</script>