<header>
    <nav class="navbar navbar-expand-xl navbar-dark round" style="background-color:#111;">
        <a class="navbar-brand" href="#"><i class="fa fa-home" aria-hidden="true"></i></a>
        <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">Vendors</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <div class="row">
                            <div class="col-xs-6">
                                <a class="dropdown-item" href="#">Photography</a>
                                <a class="dropdown-item" href="#">Videography</a>
                                <a class="dropdown-item" href="#">Makeup Artist</a>
                                <a class="dropdown-item" href="#">Decorators</a>
                                <a class="dropdown-item" href="#">Designers</a>
                                <a class="dropdown-item" href="#">Invitations and Cards</a>
                                <a class="dropdown-item" href="#">Venues</a>
                            </div>
                            <div class="col-xs-6">
                                <a class="dropdown-item" href="#">Food and Catering</a>
                                <a class="dropdown-item" href="#">Music and Entertainment</a>
                                <a class="dropdown-item" href="#">Car Rentals</a>
                                <a class="dropdown-item" href="#">Event Planners</a>
                                <a href="" class="dropdown-item">
                                    <button class="btn btn-outline-success my-2 my-sm-0" type="button">Sign in</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">Events</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="#">
                            <p><i class="fas fa-birthday-cake  fa-3x  " aria-hidden="true"></i></p>
                            Birthday Events
                        </a>
                        <a class="dropdown-item" href="#">Corporate Events</a>
                        <a class="dropdown-item" href="#">Wedding Events</a>
                        <a class="dropdown-item" href="#">Other</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">NGO</a>
                </li>

            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
            </form>
            <ul>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="button">Account</button>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="#">Dashboard</a>
                        <hr>
                        <a class="dropdown-item" href="#">Sign out</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>